Source: nitro
Priority: optional
Maintainer: Dennis Muhlestein <dennis@brooksee.tech>
Build-Depends: debhelper (>=9), libxerces-c-dev, libgmp-dev, libusb-1.0-0-dev
Standards-Version: 3.9.6
Section: libs

Package: nitro
Section: libdevel
Architecture: any
Depends: libxerces-c3.1, libgmp10, libusb-1.0-0 
Description: Nitro Data Acquisition Library 

